@media screen and (max-width: 1400px){
    #profile {
        height: 63vh;
        margin-bottom: 6rem;
      }
      .about_container, .org_container {
        flex-wrap: wrap;
      }
    
}

@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;
    }
    #hb-nav{
        display: flex;
    }
    #experience, .experience_details_container{
        margin-top: 2rem;
    }
    .org_container{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    #profile, .section-container{
        display: block;
    }
    
    .arrow{
        display: none;
    }
    section{
        height: fit-content;
    }
    #profile, #contact{
        height: fit-content;
    }
    
    section{
        margin: 0 5%;
    }
    .section__pic-container{
        width: 245px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about_container {
        margin-top: 0;
      }
    
      
}

@media screen and (max-width: 600px){
    

    #profile, #contact{
        height: fit-content;
        
    }
    article, .article_org{
        font-size: 1rem;
    }
    footer nav{
        height: fit content;
        margin-bottom: 2rem;
    }
    .about_container, .org_container, .contact-info-upper-container, .btn_container {
        flex-wrap: wrap;
      }
    .contact-info-container{
        margin: 0;
    }
    .contact-info-container p, .nav-links li a{
        font-size: 1rem;
    }
    .logo{
        font-size: 1.5rem;
    }
    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container{
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .profile_text_p2{
        font-size: 1.25rem;
    }
    .title{
        font-size: 2rem;
    }
    .text_container{
        text-align: justify;
    }
}
